/* purgecss start ignore */
@tailwind base
@tailwind components
/* purgecss end ignore */
@tailwind utilities

@import base
@import buttons

body
  overflow-x hidden

.landing
  .content:not(.custom)
    > *:first-child
      margin-top 0
  .navbar
    display flex
    align-items center
    justify-content: space-between
    transition background-color .3s ease, border-color .3s ease, heigth .3s ease
    .links
      position relative
      top 0
      background-color transparent

  .navbar:not(.scrolling)
    background-color transparent
    border-color transparent
    height 6rem

    .sidebar-button
      top 1.75rem

    .links
      .nav-item
        > .nav-link
          color: #fff
      .dropdown-title
        .title
          color: #fff
      .repo-link
        color: #fff
        .icon
          &.outbound
            color: #fff

  .content:not(.custom)
    max-width none
    padding 0
    margin 0

.search-box
  input
    color $black !important
  .suggestion
    a
      color $black !important
    &.focused
      background-color $secondary-ltr !important
      a
        color $accentColor !important

/* dark/light mode variables */
:root, :root.light {
  --bg-border: #efefef;
  --color-white: #fff;
  --bg-color: #fff;
  --bg-color2: #fff;
  --bg-color3: #fff;
  --bg-code: #eef3f4;
  --bg-code-inline: #eef3f4;
  --text-color: #001e26;
  --text-color-code: #eef3f4;
  --text-color-code-inline: #006580;
  --bg-language: #22272b;
  --bg-warning: #fff5e7;
  --bg-tip: #ecf7f3;
  --link-color: #d22630;
  --bg-danger: #ffebee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #25272a;
    --color-white: #fff;
    --text-color: #eee;
    --bg-border: #444;
    --text-color-code: #eee;
    --text-color-code-inline: #eee;
    --bg-color2: #000;
    --bg-color3: #444;
    --bg-code: #000;
    --bg-code-inline: #444;
    --bg-language: #000;
    --bg-warning: #000;
    --bg-tip: #000;
    --link-color: #f54b49;
    --bg-danger: #000;
  }
}

:root.dark {
--bg-color: #25272a;
--color-white: #fff;
--bg-border: #444;
--text-color: #eee;
--text-color-code: #eee;
--text-color-code-inline: #eee;
--bg-color2: #000;
--bg-color3: #444;
--bg-code: #000;
--bg-code-inline: #444;
--bg-language: #000;
--bg-warning: #000;
--bg-tip: #000;
--link-color: #f54b49;
--bg-danger: #000;
}

html, body, header, .navbar .links, .dropdown-wrapper .nav-dropdown, .sidebar,
.content-sidebar-wrapper, .suggestions {
  background-color: var(--bg-color) !important;
}

h1, h2, h3, h4, strong, .navbar .site-name, .dropdown-wrapper .dropdown-title, .nav-links a,
body, .sidebar-heading, a.sidebar-link, a.content-sidebar-link, .suggestions a span {
  color: var(--text-color) !important;
}

.suggestions .suggestion.focused, .suggestions .suggestion.focus {
  background-color: var(--bg-color3) !important;
}

.content code {
  background-color: var(--bg-code-inline)  !important;
  color: var(--text-color-code-inline) !important;
}

.content code a {
  color: var(--text-color) !important;
}

.navbar, .sidebar, .content-sidebar, .content-sidebar-links,
.dropdown-wrapper .nav-dropdown, .suggestions {
  border-color: var(--bg-border) !important;
}

.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
border-color: var(--bg-border) !important;
}

.docs-card {
  background-color: var(--bg-color2) !important;
  header {
    background: transparent !important;
  }
}

.custom-block.warning {
  background-color: var(--bg-tip) !important;
}

.custom-block.tip {
  background-color: var(--bg-tip) !important;
}

.custom-block.danger {
  background-color: var(--bg-danger) !important;
}

div[class*="language-"], div[class*="language-"] code {
  background-color: var(--bg-language) !important;
  color: var(--text-color-code) !important;
}

a {
  color: var(--link-color) !important;
}

.home .hero .action-button {
  color: var(--color-white) !important;
}
