@tailwind base
@tailwind components
@tailwind utilities

@import base
@import buttons

body
  overflow-x hidden

.landing
  .content:not(.custom)
    > *:first-child
      margin-top 0
  .navbar
    display flex
    align-items center
    justify-content: space-between
    transition background-color .3s ease, border-color .3s ease, heigth .3s ease
    .links
      position relative
      top 0
      background-color transparent

  .navbar:not(.scrolling)
    background-color transparent
    border-color transparent
    height 6rem

    .sidebar-button
      top 1.75rem

    .links
      .nav-item
        > .nav-link
          color: #fff
      .dropdown-title
        .title
          color: #fff
      .repo-link
        color: #fff
        .icon
          &.outbound
            color: #fff

  .content:not(.custom)
    max-width none
    padding 0
    margin 0
