:root {
  --vp-content-max-width: 960px;
  --vp-layout-max-width: 1560px;
}

.VPDoc .content-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.VPDoc .container > .content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.VPDoc.has-aside .content-container {
  max-width: none !important;
}
