:root {
  --vp-content-max-width: 960px;
  --vp-layout-max-width: 1560px;
}

.VPDoc .content-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.VPDoc .container > .content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.VPDoc.has-aside .content-container {
  max-width: none !important;
}

.aside-container {
  scrollbar-width: initial !important;
  scrollbar-color: initial !important;
}

.aside-container::-webkit-scrollbar {
  display: block !important;
  width: 4px;
}

.aside-container::-webkit-scrollbar-track {
  background: transparent;
}

.aside-container::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-divider);
  border-radius: 4px;
}
